.cardCopy {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 200px;
  flex-wrap: wrap;
}
.cardProperty {
  width: 25%;
  margin: 20px 10px 0;
  padding: 40px 0px;
  border-radius: 10px;
  box-shadow: 1px 3px 8px -1px rgb(158, 153, 153);
  background-color: white;
}
.cardProperty h5 {
  margin-top: 33px;
  font-size: 20px;
  font-weight: 700;
  color: #222831;
  padding: 0 50px;
}
.cardProperty h6 {
  margin-top: 23px;
  font-size: 16px;
  font-weight: 400;
  color: #222831;
}
@media (max-width: 767px) {
  .cardCopy {
    flex-wrap: wrap;
  }
  .cardProperty {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .cardProperty {
    width: 70%;
  }
}
@media (max-width: 475px) {
  .cardProperty {
    width: 85%;
  }
}
